################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ex1/.vs/ex1
/ex2/.vs/ex2
